@media (max-width:480px){
html{
    scroll-behavior: smooth;
}
body{
font-family: sans-serif;
}

    h1{
        color:white;
    }
    section{
    left:7px;
    text-shadow: 2px 2px 2px black;
    top:20px;
    font-size:20px;
    }
    section:hover{
        scale:100%;
    }
    a{
        color:rgba(255, 255, 255, 0.548);

    }
    a:active{
        background-color: grey;
    }
    .head-div{
        position: fixed;
        background-color: black;
        z-index: 10;
        width:100%;
    }
    nav{
        font-size:20px;
        position: relative;
        left:-15px;
    }
    main{
        position:relative;
        top:120px;
    }
    .deliver{
        position: relative;
        top:50px;
    }
    .excellent{
        position: relative;
        top:80px;
    }
    #style{
        top:90px;
    }
    .style-art-container{
        position: relative;
        top:200px;
        flex-direction:column;
        overflow-y:scroll;
        overflow-x: hidden;
        height: 340px;
        gap:40px;
        animation:none;
        visibility: hidden;
    }
     
    .style-img{
        width:300px;
        height:300px;
        border-top-left-radius:10%;
        border-bottom-right-radius:10%;
    }
    .style-art{
        position:relative;
        left:10px;
    }
    body{
        background-image: url(image/alexander-andrews-jNKv4QohAk0-unsplash.jpg);
        color:rgba(255, 255, 255, 0.548);
    }
    .style-summary{
        left:100px;
    }
    .style-summary button{
        position:relative;
        width:150px;
        color:rgba(255, 255, 255, 0.548);

    }
    .style-summary button:active{
background-color: color-mix(in srgb, black 90%, white);

    }
    #ord{
        display: none;
    }
    .style2{
        position: relative;
        top:10px;
    }
    .style2-styles-img{
        position: relative;
        left:7px;
    }
    .style2-styles{
        position: relative;
        top:-370px;
    }
    .searchbar{
        display: block;
        position:fixed;
        z-index:15;
        top:115px;
        background: black;
        width:100%;
        padding-bottom: 10px;
        margin-bottom: 10px;
    }
    .searchbar-input{
        position:relative;
        left:20px;
        background-color: transparent;
        border-radius:100px;;
        height:50px;
        width:80%;
        padding-left:10px;
        font-size:20px;
        color:white;
    }
    .searchbar-input::placeholder{
        color:white;
        text-align:center;
    }
    .search-icon{
        position:relative;
        top:10px;
        left:-40px;
        width:35px;
    }
#about{
    position:relative;
    top:-350px;
}
#contact{
    position: relative;
    top:-250px;
    
}
.head-div{
    display: none;
}
#headdiv{
    display: block;
    z-index: 17;
}
#headdiv nav{
    width:100%;
    left:-20px;
    align-items: center;
}
.home-div-icons{
    width:30px;
    filter: invert(100%) contrast(100%);
}
.order-btn{
    align-items: center;
    justify-content: space-evenly;
}

}
